@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Fady </h1>

    <h1>Weather FOrecast</h1>
    <div>
        <p>@Model.WeatherForecast</p>
    </div>
</div>
